:root {
    --dark-purple: rgb(106, 62, 167);
    --neutral-purple: rgb(209, 203, 229);
    --white: rgb(245, 243, 243);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body h1 {
    font-size: 300%;
}

body h2 {
    font-size: 150%;
}

header {
    display: flex;
    background-color: var(--dark-purple);
    justify-content: space-between;
    padding: 15px 20px 8px 0;
    align-items: center;
}

header h1 {
    background-color: var(--white);
    color: var(--dark-purple);
    padding: 0 10px 0 40px;
}

header nav ul li {
    display: inline-block;
    padding-right: 15px;
}

header a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    border-bottom: solid var(--white);
    padding: 0 5px 0 5px;
}

.hero {
    display: flex;
    background-color: var(--neutral-purple);
    justify-content: space-between;
}

.hero img {
    max-width: 25%;
    padding: 10px 0 10px 40px;
}

.hero h2 {
    display: flex;
    align-items: flex-end;
    text-align: center;
    background-color: var(--white);
    color: var(--dark-purple);
    max-height: 90px;
    margin: 120px 50px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.content {
    margin: 15px 0px 0px 60px;
    display: flex;
}

.content h2 {
    font-size: 50px;
    border-right: solid;
    text-align: right;
    padding-right: 10px;
    min-width: 25%;
}

#about-me p {
    margin: 0 60px 0 40px;
    text-align: justify;
}

.project-images {
    margin: 0 60px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-images img {
    border: solid 3px var(--neutral-purple);
    max-width: 49.5%;
}

.project-images img:nth-child(even) {
    margin-right: 0.5;
    margin-top: 1%; 
}

.project-images img:nth-child(odd) {
    margin-left: 0.5%;
    margin-top: 1%;
}

.project-images img:first-child {
    max-width: 100%;
    margin: 0;
}

#contact-me {
    align-items: center;
    margin-bottom: 50px;
}

#contact-me ul {
    margin: 0 60px 0 40px;
}

#contact-me ul li {
    display: inline-block;
    padding-right: 30px;
    margin-right: 20px;
    border-bottom: solid;
    padding: 0 5px 0 5px;
}
#contact-me ul li a {
    text-decoration: none;
}