:root {
    --dark-purple: rgb(106, 62, 167);
    --neutral-purple: rgb(209, 203, 229);
    --white: rgb(245, 243, 243);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: rgb(79, 45, 127);
}

body h1 {
    font-size: 300%;
}

body h2 {
    font-size: 150%;
}

body h3 {
    font-size: 100%;
}

body h4 {
    font-size: 80%;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-purple);
    justify-content: space-between;
    padding: 15px 20px 8px 0;
    align-items: center;
}

header h1 {
    background-color: var(--white);
    color: var(--dark-purple);
    padding: 0 10px 0 40px;
    display: flex;
}

header nav ul li {
    display: inline-block;
    padding-right: 15px;
}

header a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    border-bottom: solid var(--white);
    padding: 0 5px 0 5px;
}

.hero {
    background-image: url(../images/heroimage.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.hero img {
    display: flex;
    max-width: 38%;
    padding: 10px 0 10px 40px;
}

.hero h2 {
    display: flex;
    text-align: center;
    background-color: var(--white);
    color: var(--dark-purple);
    margin-bottom: 3rem;
    margin-right: 1rem;
    padding: 10px 10px 10px 10px;
}

.content {
    margin: 15px 0px 0px 60px;
    display: flex;
}

.content h2 {
    font-size: 50px;
    border-right: solid;
    text-align: right;
    padding-right: 10px;
    min-width: 25%;
    display: flex;
    flex-wrap: wrap;
}

#about-me p {
    margin: 0 60px 0 40px;
    text-align: justify;
}

.images-container {
    width: 100%;
    margin: 0 60px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-image {
    position: relative;
    width: 49.5%;
}

.project-image img {
    border: solid 3px var(--neutral-purple);
    width: 100%;
}

.project-image:first-child {
    width: 100%;
}

.project-text {
    background-color: var(--neutral-purple);
    color: var(--dark-purple);
    position: absolute;
    bottom: 15px;
    padding: 1%;
    margin-left: 0;
}

#contact-me {
    align-items: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

#contact-me ul {
    margin: 0 60px 0 40px; 
}

#contact-me ul li {
    display: inline-block;
    padding-right: 30px;
    margin-right: 20px;
    border-bottom: solid;
    padding: 0 5px 0 5px;
}

#contact-me ul li a {
    text-decoration: none;
}

@media screen and (max-width:980px) {
    header {
        flex-direction: column;
        padding: 0;
    }
    header h1 {
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    .hero img {
        max-width: 50%;
    }
}

@media screen and (max-width:768px) {
    /* images list */
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero img {
        max-width: 90%;
        padding-left: 0px;
    }

    .hero h2 {
        margin-top: 40px;
    }
}
